[Unit]
Description=My Python App
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/.signalk/node_modules/@signalk/signalk-autopilot/app.py
WorkingDirectory=/home/pi/.signalk/node_modules/@signalk/signalk-autopilot
Restart=always
User=pi
StandardOutput=syslog
StandardError=syslog
Environment="FLASK_APP=app.py"


[Install]
WantedBy=multi-user.target