[Unit]
Description=Gunicorn instance to serve My Python App
After=network.target

[Service]
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind 0.0.0.0:8001 app:app
WorkingDirectory=/home/pi/.signalk/node_modules/@signalk/signalk-autopilot
StandardOutput=inherit
StandardError=inherit
Restart=always
Environment="PYTHONUNBUFFERED=1"
User=pi

[Install]
WantedBy=multi-user.target